DotMatrix.Core/Service References/Cryptopia.QueueService/Cryptopia.QueueService.DataObjects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cryptopia.QueueService.DataObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cryptopia.QueueService.DataObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SubmitPixelRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsApi" type="xs:boolean" />
      <xs:element minOccurs="0" name="Pixel" nillable="true" type="tns:PixelItem" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitPixelRequest" nillable="true" type="tns:SubmitPixelRequest" />
  <xs:complexType name="PixelItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PixelItem" nillable="true" type="tns:PixelItem" />
  <xs:complexType name="SubmitPixelResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitPixelResponse" nillable="true" type="tns:SubmitPixelResponse" />
  <xs:complexType name="SubmitPixelsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsApi" type="xs:boolean" />
      <xs:element minOccurs="0" name="Pixels" nillable="true" type="tns:ArrayOfPixelItem" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitPixelsRequest" nillable="true" type="tns:SubmitPixelsRequest" />
  <xs:complexType name="ArrayOfPixelItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PixelItem" nillable="true" type="tns:PixelItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPixelItem" nillable="true" type="tns:ArrayOfPixelItem" />
  <xs:complexType name="SubmitPixelsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitPixelsResponse" nillable="true" type="tns:SubmitPixelsResponse" />
</xs:schema>