DotMatrix.Core/Service References/Cryptopia.QueueService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QueueProcessorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBindingEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Cryptopia.QueueService.DataObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQueueProcessor_SubmitPixel_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitPixel" />
  </wsdl:message>
  <wsdl:message name="IQueueProcessor_SubmitPixel_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitPixelResponse" />
  </wsdl:message>
  <wsdl:message name="IQueueProcessor_SubmitPixels_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitPixels" />
  </wsdl:message>
  <wsdl:message name="IQueueProcessor_SubmitPixels_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitPixelsResponse" />
  </wsdl:message>
  <wsdl:portType name="IQueueProcessor">
    <wsdl:operation name="SubmitPixel">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueueProcessor/SubmitPixel" message="tns:IQueueProcessor_SubmitPixel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueueProcessor/SubmitPixelResponse" message="tns:IQueueProcessor_SubmitPixel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitPixels">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueueProcessor/SubmitPixels" message="tns:IQueueProcessor_SubmitPixels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueueProcessor/SubmitPixelsResponse" message="tns:IQueueProcessor_SubmitPixels_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBindingEndpoint" type="tns:IQueueProcessor">
    <wsp:PolicyReference URI="#NetTcpBindingEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SubmitPixel">
      <soap12:operation soapAction="http://tempuri.org/IQueueProcessor/SubmitPixel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitPixels">
      <soap12:operation soapAction="http://tempuri.org/IQueueProcessor/SubmitPixels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueueProcessorService">
    <wsdl:port name="NetTcpBindingEndpoint" binding="tns:NetTcpBindingEndpoint">
      <soap12:address location="net.tcp://localhost:8000/CryptopiaQueue/service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/CryptopiaQueue/service</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>